<nav class="p-3 bg-4 text-white fw-500 fs-5">
  <i class="fas fa-arrow-left position-absolute fs-4 text-white" routerLink="/onboarding/contract" role="button"></i>
  <div class="text-center"><img src="assets/img/logo.png" width="31px" height="32px ">
    <label for="">Solicita tu préstamo</label>
  </div>
</nav>
<div class="d-flex justify-content-center">
    <div class="border p-4 mt-5 mx-3 rounded-7 shadow cnt-canvas" style="width: 700px;">
      <canvas id="canvas" height="360">No tienes un buen navegador</canvas>
      <label class="d-block text-center">firma haciendo click con el mouse y moviendo.</label>
      <div class="mt-4 d-flex gap-3">
        <button class="btn btn-danger col">Limpiar</button>
        <button class="btn btn-1 col" routerLink="/onboarding/id_card">Continuar</button>
      </div>
    </div>

</div>
