<footer class="text-center bg-4 color-4 pt-5">
  <h2>sunnyside</h2>
  <div class="mt-5">
    <button class="btn btn-1 rounded-7" routerLink="/dash/home1" routerLinkActive="active-link bg-2 color-1">About</button>
    <button class="btn btn-1 rounded-7" routerLink="/dash/home2" routerLinkActive="active-link bg-2 color-1">Services</button>
    <button class="btn btn-1 rounded-7" routerLink="/dash/home3" routerLinkActive="active-link bg-2 color-1">Projects</button>
  </div>
  <div class="mt-5 pb-5">
    <button class="btn btn-1 rounded-7" routerLink="/dash/home1">
      <img src="assets/img/icon-facebook.svg">
    </button>
    <button class="btn btn-1 rounded-7" routerLink="/dash/home2">
      <img src="assets/img/icon-instagram.svg">
    </button>
    <button class="btn btn-1 rounded-7" routerLink="/dash/home3">
      <img src="assets/img/icon-twitter.svg">
    </button>
    <button class="btn btn-1 rounded-7" routerLink="/dash/home3">
      <img src="assets/img/icon-pinterest.svg">
    </button>
  </div>
</footer>
