<header class="bg-gris p-3">
  <img width="50px" src="assets/img/logo.png">
  <span>
    <b class="fw-500 ms-4">Línea amiga </b>
    <a href="https://wa.link/e301c6">+57 322 3579977</a>
  </span>
</header>
<main style="height: calc(100vh - 83px); overflow: auto;">
  <div>
    <img src="assets/img/image-bg.png" class="d-block w-100" alt="...">
  </div>
  <div class="text-center p-5">
    <h6 class="fs-5">Atendemos tus reclamos</h6>
    <span class="fs-4 color-1">Escuchamos tus sugerencias</span>
  </div>
  <form class="row col-xl-7 col-lg-9 mx-auto mb-4">
    <div class="col-md-6 px-2 form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Nombres">
      <label for="floatingInput">Nombres</label>
    </div>
    <div class="col-md-6 px-2 form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Apellidos">
      <label for="floatingInput">Apellidos</label>
    </div>
    <div class="col-md-6 px-2 form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Apellidos">
      <label for="floatingInput">Número de identificaión</label>
    </div>
    <div class="col-md-6 px-2 form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Apellidos">
      <label for="floatingInput">Teléfono fijo o celular</label>
    </div>
    <div class="col-md-12 px-2 form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Apellidos">
      <label for="floatingInput">Correo electrónico</label>
    </div>
    <div class="col-md-6 px-2 form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Apellidos">
      <label for="floatingInput">Dirección</label>
    </div>
    <div class="col-md-6 px-2 form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Apellidos">
      <label for="floatingInput">Municipio</label>
    </div>
    <div class="col-md-12 px-2 form-floating mb-3">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"></textarea>
      <label for="floatingTextarea">Describe la situación presentada</label>
    </div>
    <div>
      <p>En caso de contar con información digital relacionada, puedes adjuntarla para lograr un tratamiento más eficaz a la situación reportada.
        <b class="d-block">Tamaño máximo de archivo 5MB</b></p>
        <div class="bg-4 p-4 mb-2 rounded-7">
          <input type="file" class="form-control">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="flexCheckDefault">
          <label for="flexCheckDefault" class="form-check-label">Autorizo a Simbiosis utilizar la información suministrada, para establecer contacto comercial y de ofrecimiento de servicios, durante el año siguiente al diligenciamiento del presente formulario.*</label>
        </div>
    </div>
    <div class="text-end">
      <span>ver <a href="" class="color-1">protección de datos</a></span>
    </div>
    <div class="px-4">
      <button class="btn btn-success">Enviar reporte</button>
    </div>
  </form>
  <footer class="bg-4 px-sm-4 py-4 px-2">
    <div class="d-flex flex-wrap text-white" style="gap: 1px;">
      <div class="col-lg w-100 ft1" style="min-height: 100%;">
        <div class="bg-4 p-4 text-center h-100">
          <img src="assets/img/logo.png" width="100px">
          <div class="mt-3">
            <a href="#">Sobre nosotros</a>
          </div>
        </div>
      </div>
      <div class="col-md w-100 ft1" style="min-height: 100%;">
        <div class="bg-4 p-4 h-100">
          <h6>sede administrativa</h6>
          <span>Carrera 6 No 22- 90 El Ejido - Pasto - Nariño - Colombia</span>
          <ul class="p-0">
            <li>
              <i class="fas fa-phone-alt text-center" style="width: 30px;"></i>
              <a href="https://wa.link/e301c6">+57 322 3579977</a>
            </li>
            <li>
              <i class="fab fa-facebook-f text-center" style="width: 30px;"></i>
              <a href="#">XD@correo.com</a>
            </li>
            <li>
              <i class="fab fa-twitter text-center" style="width: 30px;"></i>
              <a href="#">A@correo.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md w-100 ft1" style="min-height: 100%;">
        <div class="bg-4 p-4 h-100">
          <h6 class="mb-3">Horario de atención</h6>
          <ul class="p-0">
            <li>
              <i class="far fa-clock me-1"></i>
              <span>Lunes a viernes</span>
            </li>
            <li> <span>8:00 a.m. a 11:30 a.m. - 2:00 p.m. a 4:30 p.m.</span></li>
            <li>
              <i class="far fa-clock me-1"></i>
              <span>Sábados</span>
            </li>
            <li> <span>9:00a.m. a 12:30p.m.</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md w-100" style="min-height: 100%;">
        <div class="bg-4 p-4 h-100">
          <h6 class="mb-3">Servicio al cliente</h6>
          <ul class="p-0">
            <li>
              <a href="#">Línea amiga</a>
            </li>
            <li>
              <a href="#">Línea amiga</a>
            </li>
            <li>
              <a href="#">Línea amiga</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr style="color: #fff;">
    <div class="text-center text-white">
      <span>Copyright © 2020 Todos los derechos reservados Corporación de Crédito Contactar</span>
    </div>
  </footer>
</main>

