.bg-auth{
  background: rgb(233, 233, 233);
  min-height: 100vh;
}
.bg-auth > div{
  width: 450px;
}
.color-1:hover{
  color: #db2323;
}
@media (max-width: 766px) {
  .bg-auth{
    background: #fff;
  }
  .bg-auth > div{
    width: 100%;
  }
}
