<div class="d-flex flex-wrap bg-auth" style="min-height: 100vh;">
  <div class="m-md-auto d-flex p-sm-5 p-4 p-md-4 rounded-7 bg-white animate__animated animate__fadeInDown">
    <form class="w-100 m-auto">
      <h2>Reset Password</h2>
      <p class="text-gris">Please enter your new password.</p>
      <div class="form-floating">
        <input class="form-control border-bottom border-0 pe-5" placeholder=" " type="{{view ? 'text' : 'password'}}">
        <i class="far fa-eye position-absolute top-0 end-0 my-4 mx-3" (click)="view = true" *ngIf="!view"  role="button"></i>
        <i class="far fa-eye-slash position-absolute top-0 end-0 my-4 mx-3" (click)="view = !view" *ngIf="view" role="button"></i>
        <label class="floatingInput">New Password</label>
      </div>
      <div class="form-floating my-4">
        <input class="form-control border-bottom border-0 pe-5" placeholder=" " type="{{view2 ? 'text' : 'password'}}">
        <i class="far fa-eye position-absolute top-0 end-0 my-4 mx-3" (click)="view2 = true" *ngIf="!view2"  role="button"></i>
        <i class="far fa-eye-slash position-absolute top-0 end-0 my-4 mx-3" (click)="view2 = !view2" *ngIf="view2" role="button"></i>
        <label class="floatingInput">Confirm password</label>
      </div>
      <button class="btn btn-1 w-100" routerLink="/auth/sign-in">
        Login
      </button>
    </form>
  </div>
</div>
