.bg-warning {
  background-color: #ffc107;
}
.color-warning {
  color: #ffc107;
}
.bg-success {
  background-color: #40cc27;
}
.color-success {
  color: #40cc27;
}
.color-primary {
  color: #163edf;
}
a {
  color: #000;
}
