.bg-auth{
  background: rgb(233, 233, 233);
}
.color-1:hover{
  color: #db2323;
}
.bg-auth > div{
  width: 400px;
}
@media (max-width: 766px) {
  .bg-auth{
    background: #fff;
  }
  .bg-auth > div{
    width: 100%;
  }
}
