<div class="d-flex flex-wrap bg-auth" style="min-height: 100vh;">
  <div class="m-md-auto d-flex p-sm-5 p-4 p-md-4 rounded-7 bg-white animate__animated animate__fadeInDown">
    <form class="w-100 m-auto">
      <h2>Forgetting password</h2>
      <p class="text-gris">Please enter your registered email to send a link to your password</p>
      <div class="form-floating">
        <input type="email" class="form-control border-bottom border-0" placeholder=" ">
        <label for="floatingInput">Email</label>
      </div>
      <button class="btn btn-1 w-100 mt-4" data-bs-toggle="modal" data-bs-target="#forgotPass">
        Send
      </button>
    </form>
  </div>
</div>
<div class="modal fade" id="forgotPass" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-7 p-3">
      <div class="modal-body text-center">
        <img class="mb-3" width="80%" src="assets/img/Mail.png">
        <h2>Check your Email</h2>
        <p class="text-gris">We have sent a link to retrieve your password.</p>
        <button class="btn btn-1 w-100" data-bs-dismiss="modal" aria-label="Close" routerLink="/auth/sign-in">Done</button>
      </div>
    </div>
  </div>
</div>
