.cont-bg {
  background-image: url("../../../../assets/img/2/no-image.png");
  padding-top: 50px;
  background-size: cover;
  background-position: center;
}
.btn-7 {
  background-color: #ff33c7;
  color: #fff;
}
