footer {
    /*background-color: yellow;*/
    // position: absolute;
    // margin-top: 15px;
    /*padding: 9px;*/
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
footer a{
    /*background-color: ;*/
    /*padding: 10px;*/
    text-decoration: none;
    font-size: 16px;
    color: #A8A8A8;
}
footer a:nth-child(1){
    margin-right: 25px;
}
@media screen and (max-width: 425px) {
    footer a:nth-child(1) {
        margin-right: 15px;
    }
}