input, select, textarea{
  border: 0;
  border-bottom: 1px solid #ced4da;
}
.btn-img{
  background: #e4e8eb;
  padding: 12.5px 13.8px;
  font-size: 20px;
  -webkit-text-stroke: 1px #e4e8eb;
  cursor: pointer;
}
