<form class="row g-3 m-4">
  <div class="col-12 p-2 border" style="background-color: #F6F6F6;">
    <i class="fa fa-align-justify"></i> Filtros
  </div>
  <div class="border border-top-0 row pt-3 pb-2 m-auto">
    <div class="col-lg-4 col-md-6 px-3">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Nombre y Apellidos</label>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 px-3">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">E-mail</label>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 px-3">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="DNI">
        <label for="floatingInput">DNI</label>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 px-3">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Fecha desde">
        <label for="floatingInput">
          <i class="far fa-calendar-alt"></i> Fecha desde</label>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 px-3">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Fecha hasta">
        <label for="floatingInput">
          <i class="far fa-calendar-alt"></i> Fecha hasta</label>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 px-3">
      <label>Flujos:</label>
      <select class="form-select" style="width: 443px;">
        <option>
          1
        </option>
        <option>
          2
        </option>
        <option>
          3
        </option>
        <option>
          4
        </option>
      </select>
    </div>
  </div>
  <div class="p-2 m-0 border border-top-0 ps-4" style="background-color: #F6F6F6;">
    <button type="button" class="btn btn-1">Buscar</button>
    <input type="reset" class="btn btn-danger ms-2" value="Reiniciar">
  </div>
</form>
<div class="m-4 border">
  <div class="p-2 border-bottom" style="background-color: #F6F6F6;">
    <i class="fa fa-align-justify"></i> Usuarios
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre y Apellido</th>
        <th scope="col">E-mail</th>
        <th scope="col">DNI</th>
        <th scope="col">Flujo</th>
        <th scope="col">Fechas</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Alejandro Chaves</th>
        <th>Email@xd.com</th>
        <th>145616161854321</th>
        <th>a saber</th>
        <th>14/8/22</th>
        <th><button class="btn btn-2" routerLink="/dash/home">Legajos</button></th>
      </tr>
      <tr>
        <th>Alejandro Chaves</th>
        <th>Email@xd.com</th>
        <th>145616161854321</th>
        <th>a saber</th>
        <th>14/8/22</th>
        <th><button class="btn btn-2" routerLink="/dash/home">Legajos</button></th>
      </tr>
      <tr>
        <th>Alejandro Chaves</th>
        <th>Email@xd.com</th>
        <th>145616161854321</th>
        <th>a saber</th>
        <th>14/8/22</th>
        <th><button class="btn btn-2" routerLink="/dash/home">Legajos</button></th>
      </tr>
      <tr>
        <th>Alejandro Chaves</th>
        <th>Email@xd.com</th>
        <th>145616161854321</th>
        <th>a saber</th>
        <th>14/8/22</th>
        <th><button class="btn btn-2" routerLink="/dash/home">Legajos</button></th>
      </tr>
      <tr>
        <th>Alejandro Chaves</th>
        <th>Email@xd.com</th>
        <th>145616161854321</th>
        <th>a saber</th>
        <th>14/8/22</th>
        <th><button class="btn btn-2" routerLink="/dash/home">Legajos</button></th>
      </tr>
    </tbody>
    </table>
  </div>
</div>
