<header class="ctn">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">sunnyside</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse cssarrow" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="btn rounded-pill" routerLink="/dash/home1" routerLinkActive="active-link bg-2 color-1" style="width: 100px;">About</a>
          <a class="btn rounded-pill" routerLink="/dash/home1" routerLinkActive="active-link bg-2 color-1" style="width: 100px;">Services</a>
          <a class="btn rounded-pill" routerLink="/dash/home1" routerLinkActive="active-link bg-2 color-1" style="width: 100px;">Projects</a>
          <a class="btn rounded-pill" routerLink="/dash/home" routerLinkActive="active-link bg-2 color-1" style="width: 100px;">CONTACT</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="text-center color-5 ctn1 position-relative">
    <h1 class="pt-5">WE ARE CREATIVES</h1>
    <img class="pt-5" src="assets/img/icon-arrow-down.svg">
  </div>
</header>
