
<main>
  <section>
    <div class="row g-0">
      <div class="col-md-6 align-items-center d-flex p-5" style="height: 600px;">
        <div class="p-5">
          <h2 class="ctn1">Transform your brand</h2>
          <span>We are a full-service creative agency especializing in helping brands grow fast. Engage your clients trough compelling visuals that do most of the marketing for you</span>
          <div class="ctn1 mt-5">
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 img1">
        <!-- <img src="assets/img/desktop/image-transform.jpg" style="width: 100%; height: 600px;"> -->
      </div>
      <div class="col-md-6 img2">
        <!-- <img src="assets/img/desktop/image-stand-out.jpg" style="width: 100%; height: 600px;"> -->
      </div>
      <div class="col-md-6 align-items-center d-flex p-5" style="height: 600px;">
        <div class="p-5">
          <h2 class="ctn1">Transform your brand</h2>
          <span>We are a full-service creative agency especializing in helping brands grow fast. Engage your clients trough compelling visuals that do most of the marketing for you</span>
          <div class="ctn1 mt-5">
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 ctn2 d-flex justify-content-center">
        <div class="text-center position-absolute bottom-0 mb-5" style="width: 350px;">
          <h2 class="ctn1">Grapich Desing</h2>
          <span>Great desing make you memorable. We deliver artwork that underscores your brand message and captures potential client's attention.</span>
        </div>
      </div>
      <div class="col-md-6 ctn3 d-flex justify-content-center">
        <div class="text-center position-absolute bottom-0 mb-5" style="width: 350px;">
          <h2 class="ctn1">Photography</h2>
          <span>Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</span>
        </div>
      </div>
      <div class="text-center my-5">
        <h2 class="ctn1">CLIENTS TESTIMONIALS</h2>
      </div>
    </div>
    <div class="d-flex justify-content-center flex-lg-row flex-column">
      <div class="col-md-4 text-center">
        <img class="rounded-circle mt-5" src="assets/img/image-emily.jpg">
        <div class="m-4 fs-5" style="width: 350px;">
          <span>We put our trust in Sunnyside and they devilered, making sure our needs were met and deadlines were always hit.</span>
          <div class="mt-5">
            <h2 class="ctn1 fs-5">Emily R.</h2>
            <small>Marketing Director</small>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <img class="rounded-circle mt-5" src="assets/img/image-thomas.jpg">
        <div class="m-4 fs-5" style="width: 350px;">
          <span>We put our trust in Sunnyside and they devilered, making sure our needs were met and deadlines were always hit.</span>
          <div class="mt-5">
            <h2 class="ctn1 fs-5">Thomas S.</h2>
            <small>Chief Operation Officer</small>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <img class="rounded-circle mt-5" src="assets/img/image-jennie.jpg">
        <div class="m-4 fs-5" style="width: 350px;">
          <span>We put our trust in Sunnyside and they devilered, making sure our needs were met and deadlines were always hit.</span>
          <div class="mt-5">
            <h2 class="ctn1 fs-5">Jennie F.</h2>
            <small>Business Owner</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-0 mt-5">
      <div class="col-md-3 col-6">
        <img src="assets/img/desktop/image-gallery-milkbottles.jpg" style="width: 100%;">
      </div>
      <div class="col-md-3 col-6">
        <img src="assets/img/desktop/image-gallery-orange.jpg" style="width: 100%;">
      </div>
      <div class="col-md-3 col-6">
        <img src="assets/img/desktop/image-gallery-cone.jpg" style="width: 100%;">
      </div>
      <div class="col-md-3 col-6">
        <img src="assets/img/desktop/image-gallery-sugarcubes.jpg" style="width: 100%;">
      </div>
    </div>
  </section>
</main>
